exportPattern("^[^\\.]")
importFrom(ape, add.scale.bar, axisPhylo, image.DNAbin, base.freq, dist.dna, ltt.plot.coords, nj, phydataplot, seg.sites, tiplabels)
importFrom(pegas, haplotype, site.spectrum)
